html {
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

body {
    background-image: url('back-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

@media (max-width: 1200px) {
    body {
        background-image: url('static/stylesheet/back-img-medium.jpg');
    }
}

@media (max-width: 768px) {
    body {
        background-image: url('static/stylesheet/back-img-small.jpg');
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border: 3px solid #3A5F0B;
    border-radius: 5px; */

}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin: 5px 0;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}


.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border: 3px solid #3A5F0B;
    border-radius: 5px; */
    font-size: large;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

.button-18 {
  align-items: center;
  margin-left: 30px;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.input {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 10px; 
    font-size: 16px; 
    width: 100%; 
    max-width: 300px; 
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none; 
}